.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(190, 223, 4, 0.25);
    color: #2c5701;
    padding: 0% 4%;
    font-size: 18pt;
}

img {
  max-width: 150px;
}