.movie-card {
    max-width: 220px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 12pt;
    font-weight: bold;
    color: white;
    margin: 2%;
  }

   .movie-card:hover {
    cursor: pointer;
  }

.red-card {
  border: 30px solid #A6290D;
  background-color: rgba(166, 41, 13, 0.7);
}

.orange-card {
    border: 30px solid #F27405;
    background-color: rgba(242, 116, 5, 0.7);
  }

  .yellow-card {
    border: 30px solid #F2B705;
    background-color: rgba(242, 183, 5, 0.7);
  }

  .green-card {
    border: 30px solid #3B7302;
    background-color: rgba(59, 115, 2, 0.7);
  }

  .blue-card {
    border: 30px solid #0367A6;
    background-color: rgba(3, 103, 166, 0.7);
  }

.card-poster {
  max-width: 200px;
  height: auto;
  margin: 10%;
  margin-bottom: none;
}

.title-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
  margin: 1% 8%;
}